In [2]:
import cv2
import numpy as np
import tensorflow as tf
CATEGORIES = ["veegha","vidushi"]
def prepare(file):
    IMG_SIZE = 50
    img_array = cv2.imread(file, cv2.IMREAD_GRAYSCALE)
    new_array = cv2.resize(img_array, (IMG_SIZE, IMG_SIZE))
    return new_array.reshape(-1, IMG_SIZE, IMG_SIZE, 1)
model = tf.keras.models.load_model("CNN.model")
image = cv2.imread('test.jpg')
image = cv2.resize(image,(50,50))
image = np.reshape(image,[-1,50,50,1])
prediction = model.predict(image)
prediction = list(prediction[0])
output= CATEGORIES[prediction.index(max(prediction))]
print(output)

WARNING:tensorflow:From C:\Users\HP\Anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\HP\Anaconda3\lib\site-packages\tensorflow\python\keras\layers\core.py:143: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
vidushi

In [3]:
type(output)

str

In [4]:
import pandas as pd

In [5]:
info=pd.read_csv('info.csv')
details=info.categories==str(output)
info[details]

  categories  Age  gender                        id
0    vidushi   20  female  bindroomuskan7@gmail.com

In [82]:
info=pd.read_csv('info.csv')
new=info["categories"] == "output"
info["New"]=new
info[new]

Empty DataFrame
Columns: [categories, Age, gender, id, New]
Index: []

In [54]:
info.head()

  categories  Age  gender                        id
0    vidushi   20  female  bindroomuskan7@gmail.com
1     veegha   25  female   veeghabindroo@gmail.com

In [55]:
info =info.loc[info['Age']>20]
info.head()

  categories  Age  gender                       id
1     veegha   25  female  veeghabindroo@gmail.com

In [56]:
info =info.loc[info['categories']==output]
info.head()

Empty DataFrame
Columns: [categories, Age, gender, id]
Index: []